// Variables globales del proyecto
$primary-green: #28a745;

// Variables de fuentes - Alternativas a BR Sonoma
$font-lato: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
$font-brsonoma: 'BRSonoma', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;



$aqua: #7DF0BA;
$neutral-blue: #7981B2;
$neutral-light: #FAFBFF;
$neutral-medium: #A9AFD9;
$blue-berry: #4F4FFF;
$neutral: #EDEFFC;
$gray-light: #CCD1EE;
$gray-medium: #5E6488;
$gray-dark: #2B304E;
$gray:#F8F9FF;
$white: #ffffff;
$black: #03050F;
$red: #F7052D;
$red-secondary: #FF1C44;
