@use "../../../styles/variables" as *;

.user-selection {
  margin: 2rem 0;

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__card {
    width: 100%;
    max-width: 500px;
    height: auto;
    background: $white;
    border: 3px solid $white;
    border-radius: 24px;
    padding: 1.5rem;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.35);


    &:hover {
      border-color: $black;
      transform: translateY(-2px);
    }

    &--selected {
      border-color: $black;
      background: $white;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
  }

  &__icon {
    width: 32px;
    height: 32px;
    color: $gray-medium;
    flex-shrink: 0;

    &--me {
      color: $gray-dark;
    }

    &--others {
      color: $red;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 1.125rem;
    font-weight: 600;
    color: $black;
  }

  &__description {
    font-size: 0.75rem;
    color: $gray-medium;
    line-height: 1.5;
  }

  &__radio {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.radio {
  width: 24px;
  height: 24px;
  border: 1px solid $neutral-medium;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &--selected {
    border-color: $black;
  }

  &__dot {
    width: 24px;
    height: 24px;
  }
}

// Desktop
@media (min-width: 1024px) {
  .user-selection {
    &__cards {
      flex-direction: row;
      gap: 2rem;
    }
    
    &__card {
      width: 256px;
      height: 212px;
    }
    
    &__header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      margin-bottom: 1rem;
    }
    
    &__icon {
      width: 48px;
      height: 48px;
      margin-bottom: 1rem;
    }
  }
}
